a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

/**1 first-blocks-and-form**/

.first-blocks-and-form {
    min-height: 100vh;
    max-height: 849px;
    background: url('../img/header-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 135px 0;
}

.first-blocks-and-form h2 {
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #FBFBFB;
    max-width: 560px;
    margin-bottom: 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content>ul {
    font-family: "AvenirNextW04-Regular";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFB;
    list-style: none;
    padding-left: 100px;
}

.header-content>ul li {
    margin-bottom: 20px;
}

.header-content>ul li span {
    position: relative;
    margin-right: 15px;
}

.header-content>ul li span img:last-child {
    position: absolute;
    top: 1px;
    left: 8px;
}

.header-form form {
    max-width: 365px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #00680A 0%, #B4EABA 21%, #FFFFFF 30%), #C4C4C4;
    border-radius: 20px;
    box-shadow: 0px 6px 7px 3px #0000006e;
    margin-bottom: 50px;
}

.header-form .form-product {
    position: absolute;
    right: 20px;
    top: 5px;
}

.header-form .form-mark {
    background: url('../img/form-circle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -65px;
    right: -110px;
    width: 130px;
    height: 130px;
    padding-top: 35px;
    text-align: center;
}

.header-form .form-mark p:first-child {
    font-weight: 750;
    font-size: 27px;
    line-height: 44px;
    margin: 0;
    font-family: "AvenirNextW06-Bold";
}

.header-form .form-mark p:last-child {
    margin: 0;
    font-family: "AvenirNextW06-Bold";
    color: #FF1616;
    text-decoration-line: line-through;
}

.header-form .form-title {
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FBFBFB;
    padding: 10px 70px 0;
}

.header-form .form-clock {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.header-form .form-clock>div {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #868686;
}

.header-form .form-clock>span {
    color: #868686;
    padding: 0 10px;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    font-family: Lifehack Sans;
}

.header-form .form-clock>div span:first-child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: "AvenirNextW06-Bold";
    font-size: 30px;
    line-height: 37px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
    border-radius: 5px;
}

.header-form form>input {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 25px;
    max-width: 294px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.header-form form>input::placeholder {
    font-family: "AvenirNextW04-Regular";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    color: #BDBDBD;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.header-form form>input[type="submit"] {
    max-width: 260px;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: "AvenirNextW06-Bold";
    font-weight: 750;
    font-size: 24px;
    line-height: 14px;
    color: #2B2B2B;
    margin-top: 30px;
    margin-bottom: 70px;
    border: 5px solid #78E383;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    /* transition: .25s ease-out; */
    box-shadow: inset 0px 3px 6px 1px rgb(255, 255, 255), inset 0px 5px 6px 2px rgba(0, 0, 0, 0.24), 0px 3px 6px 1px rgb(255, 255, 255), 0px 5px 6px 2px rgba(0, 0, 0, 0.24);
}

.header-form form>input[type="submit"]:hover {
    background: linear-gradient(270deg, #019F0C 3.85%, #94E399 94.23%), #78E383;
    color: #FBFBFB;
    border: 0;
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.24);
}

.form-modal, .mob-product, .mob-woman-back {
    display: none;
}

/* MODAL */

.header-form-in-modal.header-form {
    display: flex;
    margin: 0;
}

.header-form-in-modal.header-form form {
    margin: 0;
}

.header-form-in-modal.header-form .form-product {
    position: relative;
}

.header-form-in-modal.header-form .form-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 40px;
}

.header-form-in-modal.header-form .form-top>p {
    padding: 0;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 24px;
}

.header-form-in-modal.header-form .form-top>img {
    position: unset;
    padding-right: 75px;
}

.header-form-in-modal.header-form .form-top .form-mark {
    height: 75px;
    width: 75px;
    right: 5px;
    top: 5px;
    padding-top: 18px;
}

.header-form-in-modal.header-form .form-mark p:first-child {
    font-size: 16px;
}

.header-form-in-modal.header-form .form-mark p:last-child {
    font-size: 11px;
}

.modal-btn {
    padding: 13px 15px;
    border: 0;
    max-width: 160px;
    font-size: 12px;
    width: 100%;
    background: linear-gradient(270deg, #019F0C 3.85%, #94E399 94.23%), #78E383;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: "AvenirNextW06-Bold";
    font-weight: 750;
    color: #FBFBFB;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 20px;
}

#formModal .modal-dialog {
    max-width: 365px;
    margin: 5% auto;
    padding: 0 15px;
}

#formModal .modal-dialog .modal-content {
    background: transparent;
    border: 0;
}

.course {
    font-family: "AvenirNextW04-Regular";
    font-weight: 450;
    font-size: 11px;
    line-height: 13px;
    color: #2B2B2B;
    text-align: center;
    margin-bottom: 20px;
}

.modal-close {
    position: absolute;
    right: -14px;
    top: -19px;
    color: #E76E54;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 4px;
    font-weight: 900;
    cursor: pointer;
}

.header-form-in-modal .form-clock {
    font-size: 12px;
}

/* END MODAL */

/**2 body-process**/

.body-process, .obesity {
    margin: 120px 0;
}

.headline-bl h2 {
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #2B2B2B;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.process-bl {
    position: relative;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 75px;
}

.process-wrap {
    width: 26%;
    margin: 0 10px;
}

.process-main {
    height: 100%;
    position: relative;
}

.process-content {
    height: 100%;
    padding: 15px;
}

.process-content, .obesity-content {
    height: 100%;
    z-index: 10;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.process-bg {
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #B4BBCC;
    border-radius: 10px;
    transform: rotate(-6.47deg);
}

.process-img {
    text-align: center;
}

.process-img img {
    height: 100px;
}

.process-head h5, .obesity-content h5 {
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2B2B2B;
    text-align: center;
}

.process-info {
    margin-bottom: 54px;
}

.process-info p {
    margin-bottom: 65px;
    text-align: start;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
}

.decision-m {
    display: flex;
    justify-content: space-between;
}

.drug-wrap {
    margin-left: 35px;
}

.decision-wrap {
    height: 100%;
    width: 300px;
    display: block;
    background-image: url("../img/green-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.decision-wrap img {
    width: 100%;
}

.drug-wrap h5 {
    text-transform: uppercase;
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #00680A;
}

.drug-wrap p {
    text-transform: uppercase;
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #2B2B2B;
    margin-bottom: 40px;
}

.product-buy {
    display: inline-block;
    border: 5px solid #78E383;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 6px 1px rgb(255, 255, 255), inset 0px 5px 6px 2px rgba(0, 0, 0, 0.24), 0px 3px 6px 1px rgb(255, 255, 255), 0px 5px 6px 2px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 20px 75px;
    color: #2B2B2B;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 17px;
}

.product-buy:hover {
    color: #FBFBFB;
    border: 0;
    padding: 25px 80px;
    background: linear-gradient(270deg, #019F0C 3.85%, #94E399 94.23%), #78E383;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1199px) {
    .process-wrap {
        width: 24%;
    }
    .drug-wrap {
        margin-left: 15px;
    }
}

@media screen and (max-width: 991px) {
    .process-wrap {
        width: 40%;
        margin: 0 10px 45px;
    }
    .process-bl {
        flex-wrap: wrap;
    }
    .img-bottom {
        bottom: -30px!important;
    }
}

@media screen and (max-width: 767px) {
    .process-wrap {
        width: 41%;
        margin: 0 10px 50px;
    }
    .drug-wrap h5 {
        font-size: 24px;
        line-height: 40px;
    }
    .drug-wrap p {
        font-size: 16px;
        line-height: 15px;
    }
    .decision-wrap {
        width: 245px;
    }
    .process-bl {
        margin-bottom: 45px;
    }
    .img-bottom {
        bottom: -25px!important;
    }
    .obesity-head h5 {
        padding: 15px 15px;
    }
    .img-block {
        height: 115px!important;
    }
}

@media screen and (max-width: 540px) {
    .process-wrap {
        width: 44%;
        margin: 0 5px 40px;
    }
    .process-img img {
        height: 75px;
    }
    .process-head h5, .obesity-head h5 {
        font-size: 15px;
        line-height: 18px;
    }
    .process-info p, .obesity-info p {
        font-size: 14px;
        line-height: 18px;
    }
    .process-content {
        padding: 10px;
    }
    .decision-wrap {
        width: 200px;
    }
    .img-block {
        height: 100px!important;
    }
    .obesity-head h5 {
        padding: 15px 15px!important;
    }
}

@media screen and (max-width: 420px) {
    .process-wrap {
        width: 47%;
        margin: 0 0 40px;
    }
    .process-img img {
        width: 95%;
        /* display: block; */
        height: 75px;
    }
    .process-head h5, .obesity-head h5 {
        font-size: 13px!important;
        line-height: 16px!important;
    }
    .process-info p, .obesity-info p {
        font-size: 12px!important;
        line-height: 16px!important;
    }
    .process-info p {
        margin-bottom: 45px;
    }
    .process-info {
        margin-bottom: 0;
    }
    .headline-bl h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
    }
    .decision-wrap {
        width: 165px;
    }
    .drug-wrap h5 {
        font-size: 19px;
        line-height: 21px;
    }
    .drug-wrap p {
        font-size: 13px;
        line-height: 15px;
    }
    .obesity-head h5 {
        padding: 10px 15px!important;
    }
}

@media screen and (max-width: 390px) {
    .img-block {
        height: 85px!important;
    }
}

@media screen and (max-width: 360px) {
    .process-head h5 {
        font-size: 11px!important;
        line-height: 14px!important;
    }
    .process-info p {
        font-size: 10px!important;
        line-height: 14px!important;
    }
    .decision-wrap {
        width: 138px;
    }
    .drug-wrap h5 {
        font-size: 17px;
        line-height: 19px;
    }
    .drug-wrap p {
        font-size: 11px;
        line-height: 13px;
    }
}

/**3 structure**/

/**4 comparisons**/

.comparisons {
    margin-bottom: 120px;
}

.comparisons .container {
    display: flex;
    justify-content: space-between;
}

.comparisons-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}

.comparisons-box-title {
    width: 100%;
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 42px;
    color: #2B2B2B;
    margin-bottom: 0;
    max-width: 433px;
    border-bottom: 3px solid #78E383;
}

.ourProduct .comparisons-box-title {
    width: 145px;
}

.comparisons-box-title p {
    margin: 0;
}

.comparisons-box ul {
    list-style: none;
    padding-left: 7px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0;
}

.comparisons-box ul li {
    font-family: "AvenirNextW04-Regular";
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
    margin-bottom: 25px;
    display: flex;
}

.comparisons-box ul li span {
    margin-right: 15px;
}

.comparisons-result {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.comparisons-result>div:first-child {
    width: 220px;
    background: linear-gradient(90deg, #FF3D3D 0%, #767676 0.01%, #FFFFFF 114.45%);
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
    padding: 15px 40px;
}

.ourProduct .comparisons-result>div:first-child {
    background: #78E383;
}

.comparisons-result>div:first-child span {
    font-family: Lifehack Sans;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #FBFBFB;
}

.comparisons-result>div:last-child {
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #828282;
    border-bottom: 2px solid;
    margin-left: 20px;
    letter-spacing: 1px;
}

.ourProduct .comparisons-result>div:last-child {
    border-bottom: 2px solid #78E383;
}

.comparisons-result>div:last-child p {
    margin: 0;
    white-space: nowrap;
}

/**6 obesity**/

.obesity-head h5 {
    padding: 30px 15px;
}

.obesity-info p {
    padding: 0 15px;
    margin-bottom: 10px;
    text-align: start;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
}

.img-bl {
    position: relative;
    overflow: hidden;
}

.img-ab {
    position: absolute;
    bottom: 0;
}

.img-block {
    position: relative;
    height: 130px;
}

.img-bottom {
    position: absolute;
    bottom: -45px;
}

.img-bottom img, .img-ab img {
    width: 100%;
}

/**5 usefulness**/

.usefulness-list_one {
    position: absolute;
    width: 75px;
    right: calc(33% + 337px);
    bottom: -26px;
}

.usefulness-list_two {
    position: absolute;
    left: 0;
    bottom: -50px;
}

.usefulness-list_three {
    position: absolute;
    right: -130px;
    top: 20px;
    width: 100px;
}

.usefulness-list_four {
    position: absolute;
    left: 0px;
    top: -108px;
    width: 175px;
}

.usefulness {
    background-image: url('../img/usefulness-back.png');
    padding-top: 55px;
    padding-bottom: 55px;
    position: relative;
    background-size: cover;
}

.usefulness_title {
    position: relative;
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FBFBFB;
    width: 500px;
    border-bottom: 4px solid #FBFBFB;
}

.usefulness_title p {
    margin: 0;
}

.usefulness_componens {
    margin-top: 55px;
    width: 100%;
    max-width: 340px;
    list-style: none;
}

.usefulness_componens li {
    margin-bottom: 35px;
}

.usefulness_componens li p {
    margin: 0;
}

.usefulness_componens li p:first-child {
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #FBFBFB;
}

.usefulness_componens li p:last-child {
    font-family: "AvenirNextW06-Thin";
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FBFBFB;
}

.usefulnes_product {
    position: absolute;
    bottom: 10px;
    right: 33%;
}

.usefulness_woman {
    position: absolute;
    bottom: 0;
    right: 0;
}

/**6 obesity**/

/**7 doctor-opinions**/

.doctor-opinions {
    background-image: url('../img/doctor-fulback.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 45px;
    padding-bottom: 15px;
}

.doctor_opinions-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.doctor_opinions-title p {
    margin: 0;
}

.doctor_opinions-title {
    width: 235px;
    border-bottom: 4px solid white;
    font-family: Lifehack Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FBFBFB;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.doctor-opinions .container>p {
    font-family: "AvenirNextW04-Regular";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 25px;
    color: #FBFBFB;
    margin-bottom: 30px;
    width: 600px;
}

.doctor-opinions .container>p:last-child {
    font-family: "AvenirNextW06-Bold";
    font-size: 25px;
    font-size: 21px;
    position: relative;
}

.doctor_autograph {
    position: absolute;
    bottom: -38px;
    right: 74px;
    width: 70px;
}

/**8 mode-of-application**/

/**9 comment**/

.comment-title {
    font-family: Lifehack Sans;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #2B2B2B;
    padding-top: 100px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.comment .item {
    background-color: #f7f6f6b5;
    padding: 10px;
}

.comment .item img {
    margin-bottom: 10px;
}

.comment-name {
    font-weight: 900;
    margin-bottom: 0;
}

.comment .owl-theme .owl-dots .owl-dot.active span, .comment .owl-theme .owl-dots .owl-dot:hover span {
    background: #10762c;
}

.comment .order-product {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

/**10 last-blocks-and-form**/

/*--------------------all Media------------------------*/

@media (max-width: 1400px) {
    .first-blocks-and-form {
        padding: 50px 50px 0;
        background-size: cover;
        background-position: bottom;
    }
    .header-content>ul {
        padding-left: 50px;
    }
    .header-form {
        margin-right: 20px;
    }
    .header-form form {
        margin-bottom: 130px;
    }
    .header-form .form-title {
        font-size: 28px;
        line-height: 30px;
        padding: 10px 82px 0 38px;
    }
    .header-form .form-product {
        right: 40px;
    }
    .header-form .form-mark {
        height: 100px;
        width: 100px;
        right: -60px;
    }
    .header-form .form-mark p:first-child {
        font-size: 20px;
        line-height: 25px;
    }
    .header-form .form-mark p:last-child {
        font-size: 14px;
    }
    .header-form .form-clock>div span:first-child {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .header-form form>input {
        padding: 8px 15px;
        max-width: 275px;
    }
    .header-form form>input[type="submit"] {
        max-width: 220px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1330px) {
    .doctor_opinions-img {
        width: 600px;
    }
}

@media (max-width: 1199px) {
    .usefulness {
        padding-top: 35px;
        padding-bottom: 15px;
    }
    .usefulness_woman {
        width: 530px;
    }
    .usefulnes_product {
        width: 270px;
    }
}

@media (max-width: 1199px) {
    .doctor_opinions-img {
        width: 430px;
    }
}

@media (max-width: 1100px) {
    .first-blocks-and-form {
        min-height: unset;
        padding: 30px 50px 0 20px;
    }
}

@media (max-width: 991px) {
    .comparisons-box-title {
        font-size: 32px;
        max-width: 295px;
    }
    .ourProduct .comparisons-box-title {
        width: 100px;
    }
    .comparisons-result>div:first-child {
        max-width: 220px;
        width: 50%;
        padding-left: 20px;
    }
    .comparisons-result>div:last-child {
        font-size: 22px;
        text-align: center;
    }
    .comparisons-result>div:last-child p {
        white-space: pre-wrap;
    }
}

@media (max-width: 991px) {
    .usefulness_woman {
        width: 330px;
    }
    .usefulnes_product {
        width: 190px;
        right: 240px;
    }
    .usefulness-list_one {
        right: 440px;
    }
    .usefulness_componens li:last-child {
        width: 240px;
    }
}

@media (max-width: 991px) {
    .doctor_opinions-img {
        width: 250px;
    }
    .doctor-opinions .container>p {
        width: 545px;
    }
}

@media(max-width: 991px) {
    .comment .order-product>a {
        color: #FBFBFB;
        border: 0;
        padding: 25px 80px;
        background: linear-gradient(270deg, #019F0C 3.85%, #94E399 94.23%), #78E383;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 900px) {
    .first-blocks-and-form {
        background-image: url('../img/mom-header-back.png');
        z-index: 0;
        position: relative;
    }
    .first-blocks-and-form:before {
        content: ' ';
        display: block;
        clear: both;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.4);
    }
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .header-form {
        display: none;
    }
    .first-blocks-and-form {
        padding: 30px 50px 20px 20px;
    }
    .form-modal {
        display: block;
        padding: 8px 15px;
        border: 0;
        max-width: 160px;
        font-size: 12px;
        width: 100%;
        background: linear-gradient(270deg, #019F0C 3.85%, #94E399 94.23%), #78E383;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        font-family: "AvenirNextW06-Bold";
        font-weight: 750;
        color: #FBFBFB;
        margin-bottom: 50px;
    }
    .header-content>ul {
        padding-left: 0;
    }
    .mob-product {
        display: block;
    }
    .mob-woman-back {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .mob-product {
        position: relative;
    }
    .mob-product .form-mark {
        background: url('../img/form-circle.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        right: -45px;
        width: 60px;
        height: 60px;
        padding-top: 23px;
        text-align: center;
    }
    .mob-product .form-mark p:first-child {
        font-weight: 750;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        font-family: "AvenirNextW06-Bold";
    }
    .first-blocks-and-form h2 {
        max-width: unset;
        text-align: center;
    }
    .mob-product>img {
        width: 150px;
    }
}

@media (min-width: 570px) and (max-width: 767px) {
    .comparisons-box-title {
        max-width: 230px;
        font-size: 25px;
    }
    .ourProduct .comparisons-box-title {
        width: 85px;
    }
    .comparisons-box ul li {
        font-size: 14px;
    }
    .comparisons-result>div:first-child span {
        font-size: 18px;
    }
    .comparisons-result>div:first-child {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .comparisons-result>div:last-child {
        font-size: 14px;
        line-height: 16px;
    }
    .comparisons-box ul li span img {
        width: 100%;
    }
    .comparisons-box ul li span {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        flex-shrink: 0;
    }
}

@media (max-width: 767px) {
    .usefulness-list_one, .usefulness-list_two, .usefulness-list_three, .usefulness-list_four {
        display: none;
    }
    .usefulness {
        padding-bottom: 125px;
        background-position: center;
        z-index: 0;
    }
    .usefulness:before {
        content: ' ';
        display: block;
        clear: both;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.25);
    }
    .usefulness_componens {
        max-width: 100%;
    }
    .usefulness_componens li:last-child {
        width: 100%;
        padding-right: 160px;
    }
    .usefulness_woman {
        width: 230px;
    }
    .usefulnes_product {
        width: 130px;
        right: 220px;
    }
}

@media (max-width: 767px) {
    .doctor-opinions .container {
        max-width: 100%;
        padding-left: 35px;
    }
    .doctor-opinions .container>p {
        width: 100%;
        padding-right: 100px;
    }
    .doctor_opinions-img {
        width: 200px;
    }
    .doctor-opinions .container>p:last-child {
        padding-right: 222px;
    }
    .doctor_autograph {
        right: 165px;
    }
}

@media screen and (max-width: 767px) {
    .comment-title {
        padding-top: 50px;
    }
    .comment .order-product {
        margin-bottom: 35px;
    }
}

@media (max-width: 630px) {
    .first-blocks-and-form {
        padding: 30px 40px 25px;
    }
    .first-blocks-and-form h2 {
        font-size: 42px;
        line-height: 36px;
        text-align: left;
        width: 360px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    .header-content {
        align-items: flex-start;
    }
    .form-modal {
        padding: 15px 55px;
        max-width: 215px;
        font-size: 22px;
    }
    .header-content>ul li {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
    .header-content>ul li span img:last-child {
        top: 2px;
    }
}

@media (max-width: 600px) {
    .usefulness_title {
        font-size: 30px;
        width: 315px;
    }
    .usefulness_componens {
        position: relative;
        margin-top: 35px;
        padding-left: 20px;
    }
    .usefulness_componens li {
        margin-bottom: 20px;
    }
    .usefulness_componens li p:first-child {
        font-size: 20px;
        line-height: 30px;
    }
    .usefulness_componens li p:last-child {
        font-size: 14px;
    }
    .usefulness_componens li:last-child {
        padding-right: 180px;
    }
    .usefulnes_product {
        width: 110px;
        left: 55px;
    }
}

@media (max-width: 569px) {
    .comparisons .container {
        flex-direction: column;
    }
    .comparisons-box {
        width: 100%;
        margin-bottom: 25px;
    }
    .comparisons-box-title {
        max-width: 317px;
        font-size: 34px;
    }
    .comparisons-box ul {
        padding-bottom: 10px;
    }
    .comparisons-box ul li span img {
        width: 15px;
    }
}

@media (max-width: 500px) {
    .doctor-opinions {
        padding-top: 20px;
        overflow: hidden;
    }
    .doctor_opinions-img {
        width: 140px;
        right: -21px;
    }
    .doctor_autograph {
        display: none;
    }
    .doctor_opinions-title {
        font-size: 24px;
        line-height: 38px;
        width: 125px;
        margin-bottom: 10px;
        border-width: 2px;
    }
    .doctor-opinions .container>p {
        font-size: 10px;
        padding-right: 40px;
        line-height: 15px;
        margin-bottom: 15px;
        position: relative;
    }
    .doctor-opinions .container {
        padding-left: 15px;
    }
    .doctor-opinions .container>p:last-child {
        font-size: 9px;
        padding-right: 85px;
        line-height: 12px;
        margin-top: 25px;
    }
}

@media (max-width: 425px) {
    .first-blocks-and-form {
        padding: 30px 25px 25px;
    }
    .first-blocks-and-form h2 {
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        width: 255px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    .header-content>ul li {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }
    .form-modal {
        padding: 15px 55px;
        max-width: 160px;
        font-size: 12px;
    }
    .mob-product>img {
        width: unset;
    }
    .header-content>ul li span img:first-child {
        width: 15px;
    }
    .header-content>ul li span img:last-child {
        width: 11px;
        top: 4px;
        left: 4px;
    }
}

@media (max-width: 420px) {
    .usefulness {
        padding-bottom: 70px;
    }
    .usefulness_title {
        font-size: 22px;
        width: 270px;
        letter-spacing: 1px;
        border-width: 2px;
        line-height: 36px;
    }
    .usefulness_componens {
        padding-right: 30px;
    }
    .usefulness_componens li p:first-child {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .usefulness_componens li p:last-child {
        font-size: 12px;
    }
    .usefulness_componens li:last-child {
        padding-right: 20px;
    }
    .usefulness_woman {
        width: 150px;
    }
    .usefulnes_product {
        width: 73px;
        right: 135px;
        left: unset;
        bottom: 0;
    }
}

@media (max-width: 390px) {
    .comparisons-box-title {
        max-width: 212px;
        font-size: 23px;
        border-bottom-width: 2px;
        line-height: 28px;
    }
    .comparisons-box ul li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .comparisons-box ul li span img {
        width: 10px;
    }
    .comparisons-result>div:first-child span {
        font-size: 20px;
        line-height: 20px;
    }
    .comparisons-result>div:first-child {
        padding-left: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .comparisons-result>div:last-child {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (min-width: 1400px) {
    .header-form .form-mark p:first-child {
        line-height: 20px;
    }
    .header-form-in-modal .form-top .form-mark {
        padding-top: 23px;
    }
    .header-form .form-mark {
        padding-top: 50px;
    }
}

@media (min-width: 1450px) {
    .first-blocks-and-form {
        min-height: 100vh;
        background-size: cover;
        background-position: bottom;
    }
}